@charset "UTF-8";

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;

    
    background-color: bisque;
    padding: 16px;
    height: 500px;
}

.bloco-1 {
    order: 0;

    text-align: center;
    border-radius: 10px;
    background-color: aquamarine;
    height: 135px;
    width: 135px;
}

.bloco-2 {
    order: 0;

    text-align: center;
    border-radius: 10px;
    background-color: rgb(80, 163, 136);
    height: 135px;
    width: 135px;
}

.bloco-3 {
    order: 0;

    text-align: center;
    border-radius: 10px;
    background-color: rgb(50, 94, 79);
    height: 135px;
    width: 135px;
}